p {
  font-family: Nunito;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  margin: 0;
  padding-top: 20px;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 2050px;
}

button{
  font-family: Nunito;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@keyframes appear {
  from{opacity: 0;
  scale: 0.5;
}
to{
  opacity: 1;
  scale: 1;
}
}

.block{
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 16%;
}

.demo-div{
  height: 40px;
}