p {
  font-family: Nunito;
  margin-top: 0;
  /* margin-bottom: 50px; */
}

body{
  margin: 0;
  margin-left: 0px;
}

button{
  font-family: Nunito;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.demo-div{
  height: 40px;
}