.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  z-index: 100;
  align-items: center;
  /* Add white shadow to the bottom */
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.9);
}

.left-section{
  /* background-color: lightblue; */
  margin-left: 10px;
  width: 180px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 70px;
  margin-top: 10px; /* Adjust the value to move the image down */
}

.middle-section{
  margin: 0 10px; /* Space out buttons */
  opacity: 1;
  transition: opacity 0.29s ease; /* Smooth fade transition */
}

/* Hide buttons when screen width is below 768px */
@media (max-width: 768px) {
  .middle-section button {
    opacity: 0; /* Fade out the buttons */
    pointer-events: none; /* Optional: Disable button interactions */
  }
}

.middle-button{
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 12px;
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 17px;
}

.right-section{
  /* background-color: lightblue; */
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.contactus-button{
  font-size: 12px;
  font-weight: bold;
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: rgb(19, 19, 19);
  border: none;
  border-radius: 17px;
}