.section-one {
  display: flex;
  height: 500px;
  width: 100%;
  text-align: center;
  background-image: url("../icons/sectionOneImage.JPEG");
  background-position: top;
  background-position-x: right;
  background-size: 150%;
  scroll-margin-top: 6rem;
}

.heading-div {
  margin-top: 10px;
}

.heading {
  color: rgb(52, 52, 52);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: nunito;
  /* margin-bottom: 20px; */
}

.sub-heading-div {
  margin-top: 20px;
  margin-bottom: 10px;
}

.sub-heading {
  text-align: center;
  font-size: 18px;
}

.texts {
  display: flex;
  flex-grow: 1;
  align-items:start;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10%;
}

.overlay-text {
  margin: 0;
  width: 600px;
  font-family: sans-serif;
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: left;
}

.overlay-text-two {
  width: 700px;
  font-family: Nunito;
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: clamp(2px, 5vw, 16px);
}


.translucent-background {
  display: flex;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

.section-one-button {
  font-family: Nunito;
  font-size: 12px;
  font-weight: bold;
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: rgb(19, 19, 19);
  border: none;
  border-radius: 17px;
}

.section-one-button:hover {
  color: black;
  background-color: rgb(230, 230, 230);
  transform: scale(1.05);
}

.section-one-button:active {
  color: black;
  background-color: rgb(220, 220, 220);
  transform: scale(1.05);
  box-shadow: inset 0 2px 4px rgba(206, 205, 205, 0.3);
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .section-one {
    background-size: cover;
    height: 100%;
  }

  .texts {
    margin: 0;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 5%;
    margin-right: 5%;
    /* align-items: center; */
  }

  .overlay-text {
    font-size: 5vh;
    width: 100%;
    max-width: 500px;
    /* text-align: center; */
  }

  .overlay-text-two {
    font-size: 2vh;
    width: 100%;
    max-width: 600px;
    /* text-align: center; */
  }

  .translucent-background{
    height: 100%;
    min-height: inherit;
  }
}