.section-four {
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  gap: 20px;
  /* overflow: hidden; */
}

.section-four-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  /* height: 400px; */
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.section-four-grid-child {
  /* border: 2px solid;
  border-color:  rgb(235, 235, 235); */
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-four-grid-child:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-four-grid-child:active {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.child-one{
  background: linear-gradient(to bottom, rgb(194,187,248), rgb(222,218,245));
  color: rgb(89, 47, 129);
  font-family: Nunito;
}

.child-two{
  background: linear-gradient(to bottom, rgb(189,205,250), rgb(220,224,245));
  color: rgb(65, 96, 176);
  font-family: Nunito;
}

.child-three{
  background: linear-gradient(to bottom, rgb(246,220,189), rgb(250,235,219));
  color: rgb(190, 92, 17);
  font-family: Nunito;
}

.child-four{
  background: linear-gradient(to bottom, rgb(245, 188, 189), rgb(245,218,215));
  color: rgb(208, 92, 96);
  font-family: Nunito;
}
