body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffffff;
}

.section-three {
  margin-top: 60px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  row-gap: 20px;
  column-gap: 20px;
}

.section-three-child{
  padding: 20px;
  background-color: rgb(235, 235, 235);;
  height: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 20px;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), 
  background-color 0.3s ease, 
  box-shadow 0.3s ease;
}

.section-three-child:hover {
  transform: scale(0.98); /* Makes the div slightly smaller */
  background-color: rgb(245, 245, 245); /* Slightly lighter background */
  box-shadow: inset 1px 4px 20px rgba(0, 0, 0, 0.2); /* Inset shadow from all sides */
}

