.section-services {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: center; /* Centers items horizontally */
  gap: 20px; /* Adds space between items */
}

.section-services > div {
  flex: 1 1 300px; /* Ensures items take up a minimum of 300px and can grow */
  max-width: 100%; /* Prevents items from growing too large */
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}


.section-services-left{
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  flex: 1;
  max-width: auto;
  padding-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-services-left:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-services-left:active {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-services-left img {
  height: 250px;
  width: 100%;
  border-radius: 20px;
  background-position: top;
}

.section-services-middle{
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  flex: 1;
  padding-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-services-middle:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-services-middle:active {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-services-middle img {
  height: 250px;
  width: 100% ;
  border-radius: 20px;
  background-position: top;
}

.section-services-right{
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  flex: 1;
  /* max-width: 320px; */
  padding-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-services-right:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-services-right:active {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-services-right img {
  height: 250px;
  width: 100% ;
  border-radius: 20px;
  background-position: top;
}
.list-div h1{
  text-align: center;
  font-family: Nunito;
  font-size: 40px;
  margin-top: 40px;
  padding: 20px;
}

.list-div h2{
  text-align: center;
  font-family: Nunito;
}

.list-div p {
  text-align: center;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}