
.section-one {
  background-color: rgb(255, 255, 255);
  /* display: flex; */
  height: auto;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
}

.heading-div{
  margin-top: 10px;
}

.heading{
  color: rgb(52, 52, 52);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: nunito;
  /* margin-bottom: 20px; */
}

.sub-heading-div{
  margin-top: 20px;
  margin-bottom: 10px;
}

.sub-heading{
  text-align: center;
  font-size: 18px;  
}

/* Container for image and text */
.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 400px;
  background-image: url("../icons/sectionOneImage.JPEG");
  background-position: top;
  background-position-x: right;
  background-size: cover;
  border-radius: 20px;
}

/* Image styling */
.image {
  width: 100%;  /* Makes the image responsive */
  height: auto; /* Keeps the aspect ratio */
}

/* Text over the image */
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .overlay-text::before {
  content: url('../icons/image.png');
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 5px;
} */

.overlay-text {
  font-family: Nunito;
  font-size: clamp(20px, 5vw, 38px);
  color: rgb(52, 52, 52);
  font-weight: bold;
  /* Initial animation */
  opacity: 0;
  animation: fadeInSlide 1s ease-out forwards;
  animation-delay: 0.5s; /* Optional delay */
  margin-bottom: 10px;
}

.overlay-text-two {
  font-family: Nunito;
  row-gap: 10px;
  color: rgb(73, 73, 73);
  font-weight: light;
  text-align: left;
  margin: 0px;
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeInSlide 1s ease-out forwards;
  animation-delay: 0.5s; /* Optional delay */
  font-size: clamp(2px, 5vw, 16px); /* Responsive font size */
}


.translucent-background{
  background: linear-gradient(
    to right,
    rgb(245, 245, 245, 1) 0%,
    rgb(245, 245, 245, 0.9 ) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* display: flex; */
}

.section-one-button{
  animation: fadeInSlide 1s ease-out forwards;
  animation-delay: 0.5s;
  font-family: Nunito;
  font-size: 12px;
  font-weight: bold;
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: rgb(19, 19, 19);
  border: none;
  border-radius: 17px;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s ease;
}

.section-one-button:hover{
  color: black;
  background-color: rgb(230, 230, 230);
  transform: scale(1.05);
}

.section-one-button:active {
  color: black;
  background-color: rgb(220, 220, 220);
  transform: scale(1.05);
  box-shadow: inset 0 2px 4px rgba(206, 205, 205, 0.3);
  transform: scale(1);
}

.texts{
  /* background-color: aqua; */
  position: absolute;
  margin-left: 10%;
  /* gap: -100px; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transform: translateY(60px);
}