.section-three {
  --imageWidth: clamp(200px, 40vw, 400px); /* Sets the width of the images */
  width: 100%;
  overflow: hidden; /* Hides the overflowing images */
  border: 1px solid rgb(213, 213, 213);
}

.image-container {
  --imageGap: 10%; /* Adjust the gap between images */
  display: flex;
  gap: var(--imageGap); /* Adjust the gap between images */
  animation: scroll 25s linear infinite; 
}

.section-three .image {
  width: var(--imageWidth); /* Ensures all images take up equal space */
  object-fit: contain; /* Ensures images fit well within the allocated width */
}

/* Animation for scrolling effect */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX( calc( -4*var(--imageWidth) - 4*var(--imageGap))); /* Moves the images left by 33.33% of their width */
  }
}
