.sectionTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 5% 10px 5%;
  max-width: 1200px;
  gap: 20px;
  border-radius: 10px;
  padding-right: 20px;
  overflow: hidden;
}

.sectionTwo .image {
  flex: 2;
  min-width: 0;
  display: flex;
}

.sectionTwo .image img {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  object-position: top;
  margin: 0;
}
.sectionTwo .text {
  flex: 3;
  height: 100%;
} 

.sectionTwo .text h2 {
  padding: 10px 0 20px 10px;
  font-size: 30px;
  font-family: sans-serif;
  margin: 0;
  color: rgb(66, 66, 66);
  border-bottom: 2px solid rgb(161, 102, 0);
}
.sectionTwo .text ul {
  margin: 0;
  padding: 10px 0 20px 40px;
  font-size: 17.5px;
  font-family: sans-serif;
  color: rgb(52, 52, 52);
}
.sectionTwo.reverse {

  flex-direction: row-reverse;
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 20px;
}


@media (max-width: 768px) {
  .sectionTwo {
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    gap: 0px;
    border-radius: 10px;
  }
  .sectionTwo.reverse {
    flex-direction: column;
    padding-left: 0px;
  }
  .sectionTwo .image img {
    width: 100%;
  }
  .sectionTwo .text {
    width: 100%;
    margin-left: 5%;
  }
  .sectionTwo .text h2{
    font-size: 25px;
  }
  .sectionTwo.reverse {
    flex-direction: column;
  }
}

